<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.ryan.bilibili_client"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="false"
        android:resizeable="true"
        android:smallScreens="true"/>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

    <application
        android:name="com.ryan.bilibili_client.BilibiliApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.ryan.bilibili_client.module.common.MainActivity"
                  android:launchMode="singleTask"
                  android:screenOrientation="portrait"
                  android:theme="@style/MainActivityColorTranslucentTheme"
                  android:windowSoftInputMode="stateAlwaysHidden|adjustPan">
        </activity>
        <activity android:name="com.ryan.bilibili_client.module.common.SplashActivity"
            android:theme="@style/ColorTranslucentTheme"
            android:screenOrientation="portrait"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".module.common.LoginActivity">
        </activity>
        <activity android:name=".module.search.TotalStationSearchActivity">
        </activity>
        <activity android:name=".module.entry.GameCenterActivity">
        </activity>
        <activity android:name=".module.entry.OfflineDownloadActivity">
        </activity>
        <activity android:name=".module.common.RyanInfoActivity">
        </activity>
        <activity android:name=".module.common.AppIntroduceActivity">
        </activity>
        <activity android:name=".module.entry.VIPActivity">
        </activity>
    </application>

</manifest>